---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { Skill } from "../interfaces/interface";
import Card from "../components/Card.astro";

const project = await getCollection("projects");
type Project = (typeof project)[number];

const cardData = {
	title: "Hola, soy Elvis",
	description:
		"Un desarrollador apasionado y aspirante a fotógrafo con un gran interés por las computadoras y el desarrollo abierto.",
	image: "/me.jpg",
};

const skills: Skill[] = [
	{ name: "Python", logo: "../python.png" },
	{ name: "JavaScript", logo: "../javascript.png" },
	{ name: "TypeScript", logo: "../typescript.png" },
	{ name: "SQL", logo: "../sql.png" },
];
---

<BaseLayout title="Home">
	<Hero
		title={cardData.title}
		description={cardData.description}
		image={cardData.image}
	/>

	<div class="container mx-auto p-6">
		<h1 class="text-4xl text-center font-bold mb-8">Mis Proyectos</h1>

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{
				project.map((project) => (
					<Card
						title={project.data.title}
						description={project.data.description}
						image={project.data.image.url}
						link={`/projects/${project.id}/`}
					/>
				))
			}
		</div>
		<h1 class="text-4xl text-center font-bold mb-8 mt-8">Habilidades</h1>

		<section class="w-full flex flex-wrap justify-center gap-6 p-6">
			{
				skills.map((skill) => (
					<div class="flex flex-col items-center w-24 sm:w-32">
						<img
							src={skill.logo}
							alt={skill.name}
							class="w-full h-auto max-w-20 sm:max-w-28"
						/>
						<span class="text-white text-sm sm:text-base font-semibold mt-2">
							{skill.name}
						</span>
					</div>
				))
			}
		</section>

		<h1 class="text-4xl text-center font-bold mb-8 mt-8">
			Sobre este sitio
		</h1>
		<section class="w-auto p-6">
			Vagamente diseñado en mi cabeza siguiendo inspiración de lo que
			encontre bonito ahoita con colores pasteles y bordes gruesos y
			redondeados Creado en Astro y Tailwind CSS, levantado en Cloudflare
			Pages.
		</section>
	</div>
</BaseLayout>
